 root{
  font-family:'Press Start 2P', system-ui; 
 }

 .mayus-1ra {
  text-transform: capitalize;
}

/* .nes-progress.is-perfect::-webkit-progress-bar {
  background-color: #fff;
} */

.nes-progress.is-perfect::-webkit-progress-value {
  background-color: #9210ca;
}

.nes-progress.is-perfect::-moz-progress-bar {
  background-color:  #9210ca;
}

.nes-progress.is-perfect::-ms-fill {
  background-color:  #9210ca;
  border: none;
}





